.mainDishList {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/Food-Hero-1260x600.jpg");
  background-size: cover;
}

.dishesListContainer {
  width: 1000px;
  height: 550px;
  background-color: white;
  opacity: 90%;
  text-align: center;
  h1 {
    font-size: 2.5em;
  }
}
.findDishForm{
  font-size: 1.8em;
  margin: 30px auto;
  a {
    font-size: 35px;
    color: map_get($colors, mainColor);
    width: 0;
    height: 0;
    border: none;
    padding: 0;
    text-decoration: none;
  }
}
.dishesList {
  width: 800px;
  height: 380px;
  margin: 0 auto;
  overflow: auto;
  .ingredientsTable {
    width: 90%;
  }
  .thVeg {
    width: 20px;
    margin-left: 10px;
  }
  .vegeIcon {
    margin-left: 10px;
  }
}


.deleteButton {
  margin-right: 30px;
}
.buttons {
  button:last-child {
    width: 0;
    height: 0;
    border: none;
    padding: 0;
  }
}

