.headerPage {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
  background: linear-gradient(#555353, #878080);
  box-shadow: 5px 5px 5px white;
  h1 {
    padding: 20px;
    font-size: 3em;
    color: white;
    font-family: 'Caveat', cursive;
    font-weight: bolder;
  }
}

.headerNav {
}

.navLis {
  display: flex;
  li {
    padding: 20px;
    font-size: 1.5em;
    a {
      text-decoration: none;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-style: italic;
    }
    a:hover {
      border-bottom: 2px solid white;
    }
  }
}