
.mainMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../images/food_main_background.jpg");
  background-size: cover;
}

.mainMenuContainer {
  width: 900px;
  height: 500px;
  margin-right: 10px;
}

.addContainer {
  width: 800px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .mainButtons:nth-child(2){
    margin-top: 100px;
  }
}

.todayMenu {
  width: 800px;
  height: 300px;
  margin: 0 auto;
  h1 {
    font-size: 3em;
    margin-top: 50px;
  }
}


//.mainButtons {
//  text-decoration: none;
//  border-radius: 20px;
//  outline: none;
//  background: linear-gradient(#555353, #878080);
//  a {
//    text-decoration: none;
//    font-size: 2em;
//    color: white;
//    font-family: 'Baloo Bhaina 2', cursive;
//  }
//}
.mainButtons {
  border-radius: 70px;
  background: linear-gradient(#d9162e, red);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 350px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  a {
    color: white;
  }
}

.mainButtons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.mainButtons span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.mainButtons:hover span {
  padding-right: 25px;
}

.mainButtons:hover span:after {
  opacity: 1;
  right: 0;
}

